body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #EBEBEC;
  font-size: 14px;
  min-width:1000px;
}
*{
  box-sizing: border-box;
}
#header{
  background-image: url('https://news.sky.com/resources/desktop-header-bg.jpg?bypass-service-worker&v=1');
  background-size: cover;
  min-width: 100%;
}
.clearfix{
  content: '';
  clear: both;
  display: table;
}
.content {
  min-width: 1000px;
  width: 75%;
  margin:auto;
  max-width:75%;
}
#nav-bar {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding:0;
}
#nav-bar ul a{
	/*white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
  display: block;
 
}

#nav-bar ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav-bar a{
  padding-left: 20px;
  display: block;
  text-align: left;
}
#nav-bar li{
  display: inline-block;
  position: relative;
}
#nav-bar ul{
	background:#fff;
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	left:-9999px;  
  margin:0;
  padding:0;
}
#nav-bar li #dropdown{
  list-style-type: none;
  left:auto;
  right:0;
  margin-right: -10px;
  display: none;
}
#dropdown li{
  padding: 8px 4px;
  display: block;
	color:black;
	background: white;
	text-decoration:none;
  min-width: 200px;
  z-index: 1;
  position: relative;
}
#dropdown {
  border: 1px solid lightgrey;
}
#dropdown a::after{
  content:'';
  position: absolute;
  border-bottom: 1px solid lightgrey;
  width: 80%;
  left: 10%;
  bottom:0;

}

#nav-bar a div{
  position: relative
}
#active div::after{
  content:'';
  position: absolute;
  border: 2px solid #063E7B;
  bottom: 0;
  left:0;
  width: 100%;
  margin:auto;
}
#nav-bar a:hover div::after{
  content:'';
  position: absolute;
  border: 2px solid #063E7B;
  bottom: 0;
  left:0;
  width: 100%;
  margin:auto;
}
#nav-bar li:last-child a{padding-right: 0px;}
.text-white{color: white !important}
.button{
  display: inline-block;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  background-color: inherit;
  text-align: center;
  vertical-align: middle; 
  overflow: hidden;
  cursor: pointer;  
}
.round-medium{border-radius:4px;}
.padding{padding: 8px 16px;}
.padding-small{padding: 4px 8px;}
.padding-large{padding: 12px 24px;}
.padding-16{padding-top: 16px;padding-bottom: 16px;}
.padding-32{padding-top:32px; padding-bottom: 32px;}
.padding-48{padding-top:48px; padding-bottom::48px;}
.right{float: right}
.bold{font-weight: bold}
.red{background-color:	#D0011A !important;}
.yellow{background-color: #FFE001}
.small{font-size: 12px;}
.text-black{color: black !important}
#btn-red:hover{
  background-color:#C0011A !important;
}
.opacity{
  opacity: 0.5;
}
a{text-decoration: none;color: inherit}
h1{font-weight:400;}
.row{width: 100%}
.col{float: left}
.two-third{width:66.66%;}
.third{width:33.33%}
img{width:100%;}
.gallery{
  border: 4px solid #E9E9EB;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
  background-color: white;
  cursor: pointer
}
.gallery:hover{
  background-color:#EBEBEC;
  animation: animate-color 1s;
}
.medium{font-size: 16px;}
.large{font-size: 18px;}
.xlarge{font-size: 24px !important}
@keyframes animate-color{
  from{background-color: white}
  to{background-color: #EBEBEC}
}
@keyframes animate-zoom{
  from{}
}
.post {
 background-color: #ffffff;
  font-size: 1rem
}
.list-posts {
  margin-top: 1rem;
}
.xsmall {
  font-size: 16px !important
}

.body-detail {
  padding: 1rem;  
}

.col-post {
  margin-top: 1rem;
}

ul #double{
  overflow: hidden;
  padding: 2px;
}

#double li{
  padding: 1rem;
  line-height: 1.5em;
  float: left;
  display: inline;
  text-align: center;
  margin-top: 10px;
 }

#double li  { 
  width:45%;
}
li.odd {
  border-bottom:1px solid #ccc;
  float:left;
}
li.even {
  border-bottom:1px solid #ccc;
  float:right;
}
.most-read-topic{
  border: 4px solid #E9E9EB;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
  background-color: white;
}

.white{
  background-color: white;
  color: black;  
}
.opacity{
  opacity: 0.7;
}
ul .medium {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.icon{
  font-size: 20px !important;
  padding: 5px;
}
#footer a:hover{
  text-decoration: underline;
}
#facebook:hover i{
  color: #063E7B;
}
#footer li {
  display: inline-block;
  padding-right: 25px;
}
#twitter:hover i{
  color: #1357E4;
}
#youtube:hover i{
  color: #D0011A;
}
#instagram:hover i{
   color: red;
}
.line::after{
  content:'';
  position: absolute;
  border-bottom: 0.2px solid lightgrey;
  width: 100%;
  bottom:0;
  left:0;
}
.col{
  float: left;
}
.fourth{
  width: 25%;
  padding-right: 10px;
}
h2{
  font-weight: 400;
}
#about li{
  display: block;
  padding: 8px 4px;
}
#about li a{
  display: block;
}
#about li:hover{
  background-color: rgba(0,0,0,0.1);
}
.text-grey{
  color: #666 !important
}

#contact li {
  display: inline-block;
  margin-right: 25px;
  padding: 8px 4px;
}
#contact li:hover {
  background-color: rgba(0,0,0,0.1);
}