body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #EBEBEC;
  font-size: 14px;
  margin:auto;
}
*{
  box-sizing: border-box;
}
.header{
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), transparent 76%), linear-gradient(90deg, rgb(18, 45, 104), rgb(18, 45, 104) 50%, rgb(214, 23, 38) 0px, rgb(214, 23, 38)) !important;
  background-size: 100% 94px;
  position: relative;
  margin-bottom: 0px;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.14);
  background-color: white !important;
  background-repeat: no-repeat;
  z-index: 9999;
}
.header_body {
  height: 94px;
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), transparent 76%), linear-gradient(90deg, rgb(18, 45, 104) 0px, rgb(18, 45, 104) 78px, rgb(214, 23, 38) 0px, rgb(214, 23, 38));
  background-origin: content-box;
  background-repeat: no-repeat;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  box-sizing: border-box; 
  max-width: 1024px;
  margin:auto;
}
.header_col {
  display: table-cell;
  vertical-align: middle;
  color: white;
}
.header_col1 {
  width: 280px;
}
.header_col2 {
  text-align: right;
}
.header_col3 {
  width: 25%;
}
.header_col4 {
  text-align: right;
  display: none;
  position: relative;
}
.header_col3 .search_box {
  background: transparent;
  border: 0.1px solid lightgrey;
  border-radius: 4px;
  margin-left: 20px;
}

.side_bar {
  position:absolute;
  background: #eee;
  right:0;
  z-index: 2;
}

.side_bar li {
  display: block;
  position: relative;
}
.side_bar li a {
  display: block;
  padding: 8px 16px;
}
.side_bar li::after {
  content:'';
  position: absolute;
  border-bottom: .5px solid lightgrey;
  left: 0;
  bottom: 0;
  width: 100%;
}

.search_box input {
  background: transparent;
  border: none;
  padding: 4px 8px;
  color: white !important
  margin: 1px;
  border-radius: 4px;
}

.search_box input:focus .search_box{
  background: white !important
}
.search_box input::-webkit-input-placeholder {
  color: lightgrey !important;
}
.header_item_link {
  margin-right: 10px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 14px;
  color: inherit !important;
}



.header_item_link:hover {
  text-decoration: underline;
}

.header_logo {
  width: 220px;
  height: 42px;
  display: block;
}
.svg-logo_image {
  position: relative;
  z-index: 2;
}

#about .col:last-child{
  margin-right: 0 !important;
}

a{text-decoration: none;color: inherit}
h1{font-weight:400;}
img{width:100%;}
.clearfix{
  content: '';
  clear: both;
  display: table;  
}
.content {
  margin:auto;
  max-width:1024px;
  position: relative;
}
/*Navigation bar*/
.nav-bar {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding:0;
}

.nav-bar li a{
  padding: 0px 12px;
  display: block;
  text-align: left;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.nav-bar li{
  display: inline-block;
  position: relative;
  padding-top:1px; 
	float:none;
}
.nav-bar ul{
	background:#fff;
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	left:-9999px;  
  margin:0;
  padding:0;
}
.nav-bar a div{
  position: relative
}
.nav-bar li .dropdown{
  list-style-type: none;
  display: none;
  z-index: 2;
}
.dropdown_left{
  left: 0 !important;
}
.dropdown_sub {
  list-style-type: none;
  display: none;
  position: absolute; 
  top: 0;
  left:100% !important;
  right: 0;
  display: none;
  z-index: 3;
}

.side_bar .dropdown_left {
  background: #f9f9f9 !important
}
.side_bar .dropdown_left li::after {
  content: '' !important;
  border: none !important;
}
.side_bar .dropdown {
  display: none;
}
.side_bar li:hover, .dropdown a:hover {
  background: #ccc;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown_right {
  left: auto !important;
  right:0;
  margin-right: -10px;
}
.nav-bar .dropdown li:hover {
  background-color: lightgrey;
}
.nav-bar a:hover div::after{
  content:'';
  position: absolute;
  border: 2px solid #063E7B;
  bottom: 0;
  left:0;
  width: 100%;
  margin:auto;
}
.nav-bar li:last-child a{
  padding-right: 0px;
}
/*--dropdown-- */
.dropdown {
  border: 1px solid lightgrey;
}
.nav-bar .dropdown li{
  padding: 8px 4px;
  display: block;
	color:black;
	background: white;
	text-decoration:none;
  min-width: 200px;
  z-index: 1;
  position: relative;
}
.navbar .dropdown a::after{
  content:'';
  position: absolute;
  border-bottom: 1px solid lightgrey;
  width: 80%;
  left: 10%;
  bottom:0;
}
#active div::after{
  content:'';
  position: absolute;
  border: 2px solid #063E7B;
  bottom: 0;
  left:0;
  width: 100%;
  margin:auto;
}
/*-- text --*/
.text-white{
  color: white !important
}
.text-black{
  color: black !important
}
.text-blue{
  color: #3157A1;
}
.bold{font-weight: bold}
.small{font-size: 12px;}
.medium{font-size: 16px;}
.large{font-size: 18px !important;}
.xlarge{font-size: 24px !important}
.xxlarge{font-size: 36px;}

/*---  background ---*/
.red {
  background-color:	#D0011A !important;
}
.yellow{
  background-color: #FFE001
}
.white{
  background-color: white;
  color: black;  
}
.round-medium{border-radius:4px;}
.darkred-hover:hover{
  background-color:#C0011A !important;
}
.darkgrey {
  background: #ccc;
}
.padding{padding: 8px 16px !important}
.padding-small{padding: 4px 8px;}
.padding-large{padding: 12px 24px !important;}
.padding-16{padding-top: 16px;padding-bottom: 16px;}
.padding-32{padding-top:32px; padding-bottom: 32px;}
.padding-48{padding-top:48px; padding-bottom::48px;}
.right{float: right}
.button{
  display: inline-block;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  background-color: inherit;
  text-align: center;
  vertical-align: middle; 
  overflow: hidden;
  cursor: pointer;  
}
.hover_grey:hover {
  background-color: #999;
}

.row {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
#body .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 10px;
}
.two-third{width:65.66%;}
.third{width:31.66666%}
.gallery{
  border: 4px solid #E9E9EB;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
  background-color: white;
  cursor: pointer;
  height: 400px;
}
.gallery .des {
  font-size: 13px;
  padding: 4px 8px;
  line-height: 20px;
}

.gallery:hover{
  background-color:#EBEBEC;
  animation: animate-color 1s;
}
@keyframes animate-color{
  from{background-color: white}
  to{background-color: #EBEBEC}
}
.img-container {
  position: relative;
}
.opacity{
  opacity: 0.7;
}
.ul_default {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.icon{
  font-size: 20px !important;
  padding: 5px;
}
#footer a:hover{
  text-decoration: underline;
}
#facebook:hover i{
  color: #063E7B;
}
#footer li {
  display: inline-block;
  padding-right: 25px;
}
#twitter:hover i{
  color: #1357E4;
}
#youtube:hover i{
  color: #D0011A;
}
#instagram:hover i{
   color: red;
}
.line::after{
  content:'';
  position: absolute;
  border-bottom: 0.2px solid lightgrey;
  width: 100%;
  bottom:0;
  left:0;
}
.fourth{
  width: 23%;
}
h2{
  font-weight: 400;
}
#about li{
  display: block;
  padding: 8px 4px;
}
#about li a{
  display: block;
}
#about li:hover{
  background-color: rgba(0,0,0,0.1);
}
.text-grey{
  color: #666 !important
}
.col {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
}
.row .col {
  margin: 1%;
}
.row .col:first-child {
  margin-left: 0%;
}
.row .col:last-child {
  margin -right : 0%;
}
.top_post .col {
  margin: 0;
}
.top_post {
  margin-bottom: 2%;
  height: auto;
}

#contact li {
  display: inline-block;
  margin-right: 25px;
  padding: 8px 4px;
}
#contact li:hover {
  background-color: rgba(0,0,0,0.1);
}

/*=== Post ===*/
.body-post .col {
  margin: 1%;
}
.container-post {
  background-color: white;
  color: black;
  position: relative;
}
.tag {
  color: #3157A1 !important;
  border: 1px solid #3157A1;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 10px !important;
  border-radius: 12px;
  margin-right: 10px;
}
.tag:hover{
  background-color: #3157A1;
  color: white !important;
}

.pic{
  width: 75%;
  margin: auto;
  background-color: #eee;
}
.pic .des {
  width: 75%;
  margin: auto;
}
.feedback-bar {
  width: 50%;
  margin: auto;   
}

.feedback-icon {
  border: 1px solid lightgrey;
  width: auto;
  padding: 4px 12px;
  border-radius: 4px;  
  margin-right: 20px;
}
.feedback-icon i {
  font-size: 22px !important;
  color: grey;
}
.feedback-icon:hover {
  background-color: #ccc;
}
.feedback-icon a {
  display: block;
}
.body-post {
  width: 60%;
  margin: auto;
  line-height: 30px;
  font-size: 18px;
}
.body-post .gallery {
  height: 300px !important;
}
.half{
  width:48%;
}
.gallery .category {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 80px;
}
#footer {
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  position: relative;
}
.linebreak::before {
  content:'';
  position: absolute;
  border-top: 3px solid #FFA500;
  border-radius: 8px;
  width: 100%;
  top: 30px;
  left:0;
}
/*
.gallery {
  height: 280px;
}
.gallery img {
  height: 180px;
}*/
.category img {
  height: auto !important;
}
@media screen and (max-width: 800px){
  .body-post {
    width: 90%;
  }
  /*
  .gallery {
    height: 330px;
  }
  .gallery img {
    height: 230px;
  }
*/
}

.background-container {
  height: 250px;
  width: 100%;
  float: left;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  position: relative;  
}
.background-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s;
}

.background-container:hover .background-img{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery a:hover {
  text-decoration: underline;
}

.button-play {
  bottom: 20px;
  left: 20px;
  position: absolute;
  color: white !important;
  font-size: 50px;
  font-weight: 400;
}

.type {
  background-color: #063E7B;
  color: white !important;
  font-weight: bold;
  padding: 2px 4px;
  margin-right: 15px;
}
.border-box {
  border: 4px solid #E9E9EB; 
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
}

#trending li {
  position: relative;
}
#trending li:not(:last-child):after {
  content: '';
  border-bottom : 1px solid lightgrey;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

#trending a {
  display: block;
}
#trending a:hover {
  text-decoration: underline;
}
ol {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px){
  .header .header_col:not(:first-child){
    display: none;
  }
  .header .header_col:last-child {
    display: table-cell;
  }
  .nav-bar {
    display: none;
  }
  .top_post .two-third, .top_post .third {
    width: 100% !important;
  }  
  .row .col {
    margin: 1% !important;
  }
  .top_post .col {
    margin: 0% !important;
  }
  .top_post {
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-bottom: 2% !important;
  }
  #body .third{
    width: 48%;
  }
  #footer .fourth {
    width: 48%;
  }
  #about .fourth:nth-child(3) {
    content:'';
    clear: both;
  }
}
.gallery .desc {
  clear: both;
}
@media screen and (max-width: 600px) {
  #body .third {
    width: 100%;
  }
  .top_post {
    height: 100px !important;
  }
  .gallery .background-container {
    margin: 15px;
    width: 100px;
    height: 80px;
  }
  .top_post .background-container {
    width: 100% !important;
    margin: 0 !important;
    height: auto;
  }
  h1{
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .medium {
    font-size: 13.5px;
  }
  .gallery .desc {
    clear: none !important;
    width: auto;
    height: auto;
    font-size: 14px !important;
    margin-top: 5px;
    content:'';
  }
  .gallery .desc span {
    font-size: 10px;
  }
  .gallery .desc .medium {
    font-size: 14px;
  }
  .gallery {
    height: auto !important;
  }
  #trending .half {
    width: 100%;
  }

  #trending li::after {
    content:'';
    position: absolute;
    border-bottom: .5px solid lightgrey;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  #trending .col {
    padding-bottom: 0px !important;
  }

  #trending .col:last-child {
    padding-top: 0px !important;
  }
  #trending .col:last-child li:last-child {
    border: none !important
  }
  #contact li {
    display: block;
    margin-left:0 !important;
  }
  #follow li span {
    display: none;
  }
  #follow li i {
    font-size: 30px !important;
  }
  .body-post .half {
    width: 100%;
  }
}
