<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>

<body class="hold-transaction login-page">
    <div class="login-box">
        <div class="login-box-body" style="border-radius: 8px;">
            <p class="login-box-msg">Đổi mật khẩu
                {{#id}}
                <p>{{this}}</p>
                <form method="POST" onsubmit="return Validate()" action="/account/change_password/{{this}}">
                    <input type="hidden" name="returnUrl">
                    <div class="help-block"><span class="text-primary"></span></div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="pass1" type="password" placeholder="New password" name="newpassword"><span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <input class="form-control" id="pass2" type="password" placeholder="Retype password" name="retypenewpassword"><span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <div class="help-block"><span class="text-danger"></span></div>
                    </div>
                    <div class="submit" >
                        <button class="btn btn-primary btn-block btn-flat" type="submit">Xác nhận</button>
                    </div>
                </form>
                {{/id}}
            </p>
        </div>
    </div>
    <div style="clear: both;"></div>

    <script>
        function Validate() {
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        var ok = true;
        if (!pass1 || !pass2) {
            alert("Retype password");
        } else if (pass1 != pass2) {
            alert("Passwords Do not match");
            ok = false;
        } else {
        }
        return ok;
    }
    </script>
</body>

</html>