<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Post News</title>
  <link rel="stylesheet" href="/stylesheet/post_new_style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.css" />
  <link rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.theme.css" />

  <script src="/jquery-ui-1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
</head>

<body>
  <!--Top Bar -->
  <div id="topbar" class="display-flex top-fixed small text-grey"
    style="align-content:center;
         background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), transparent 76%), linear-gradient(90deg, rgb(18, 45, 104), rgb(18, 45, 104) 10%, rgb(214, 23, 38) 0px, rgb(214, 23, 38)) !important;">
    <a href="#" style="width: 25%;">
      <img style="margin-left: 3.5px; margin-top:10px;" src="/images/home/logo.png" />
    </a>
    <a href="#home" class="button text-white " style="width:25%;
      background: rgb(214, 23, 38) ">
      HOME
    </a>
    <a href="#about" class="button text-white " style="width:25%">
      ABOUT
    </a>
    <a href="#photos" class="button text-white" style="width:25%">
      HISTORY
    </a>

  </div>

  <!--Side Bar-->
  <div id="sidebar" class="left-fixed side-bar text-white small" style="width:110px;">
    <img class="bar-item clearfix display-block" src="/images/skysports_logo.png" style="height: 75px;">
    <a class="clearfix bar-item padding-large  padding-large button bar-icon">
      <div style="font-size: 30px;">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      HOME
    </a>
    <a class="clearfix bar-item padding-large button bar-icon">
      <div style="font-size: 30px;">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      ABOUT
    </a>
    <a class="clearfix bar-item padding-large button bar-icon">
      <div style="font-size: 30px;">
        <i class="fa fa-history" aria-hidden="true"></i>
      </div>
      HISTORY
    </a>
  </div>

  <!-- PAGE CONTENT -->
  <div id="page-content" style="position:relative">
    <div style="height:100%;width:100%; max-width:1000px; margin:auto;">

      <!--Poster -->
      <div id="home" class="container" style="margin-top:32px;">
        <div style="width: 100%;">
          {{{body}}}
        </div>
      </div>
    </div>
  </div>
</body>

</html>