
<!-- BODY CONTENT -->
<div id="body" class="content row">
  <!--Hiển thị 3-4 bài viết nổi bật nhất tuần-->
  <div class="clearfix">
    <h1 class="padding-16">{{categoryName}}</h1>
    
    <!-- No.1 post -->
    {{#each posts}}
    <a href="/post/{{_id}}">
      <div class="gallery clearfix top_post" style="width: 100%; display:block">
        <div class="col two-third">
          <div class="background-container" style="height: 350px">
            <div class="background-img">
              <img src={{image}}>
            </div>
            
          </div>
        </div>
        <div class="col third padding-48 padding-large">
          <span class="opacity">
          </span>
          <br/>
          <br />
          <p class="xlarge padding-32">
            {{title}}
          </p>
        </div>
      </div>
    </a>
    {{/each}}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script src="/js/list_posts.js"></script>
<!--Footer -->
