<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Post</title>
      <link rel="stylesheet" href="/stylesheet/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
  <body>
    <!--HEADER -->
    <div class="header">

        <!-- LOGO BAR -->
        <div class="content clearfix row">
          <div class="header_body">
            <div class="header_col header_col1">
              <a class="header_logo" href="#" style="margin-left: -3px;">
                  <img class="svg-logo_image" src="/images/home/logo.png">
              </a>
            </div>
            <div class="header_col header_col2">
              <a href="#" class="header_item_link">
                Get Sky Sports
              </a>
              <a href="#" class="header_item_link">
                <i class="fa fa-user" aria-hidden="true"></i>
                Log In
              </a>
            </div>
            <div class="header_col header_col3">
              <div class="search_box" id="search_box">
                <input type="text" name="search_box" placeholder="Search Sky Sports" style="color: white; width: 88%">
                <i class="fa fa-search" aria-hidden="true" style="font-size: 15px;"></i>
              </div>
            </div>

            <!-- RESPONSIVE MENU -->
            <div class="header_col header_col4">
              <a href="#" id="btn_side_bar">
                <i class="fa fa-bars xxlarge text-white" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <!-- REPONSIVE SIDE BAR -->
          <div id="sb" class="side_bar clearfix" style="display: none;">
            <div class="darkgrey medium">
              <a href="#" class="button hover_grey">
                <i class="fa fa-user" aria-hidden="true"></i>
                Log In
              </a>
              <a href="#" class="button hover_grey">
                Get Sky Sports
              </a>
            </div>
            <ul class="medium">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <div id="a">
                <a href="#" id="btn_sb_sport_dropdown">Sport <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <a href="#" id="btn_close_sb_sport_dropdown" style="display: none">Sport <i class="fa fa-angle-up" aria-hidden="true"></i></a>
                <ul class="dropdown dropdown_left" id="sb_sport_dropdown">
                  <li>
                    <a href="#">Sport News</a>
                  </li>
                  <li>
                    <a href="#">Videos</a>
                  </li>
                  <li>
                    <a href="#" id="btn_sb_sport_tv_dropdown">TV <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <a href="#" id="btn_close_sb_sport_tv_dropdown" style="display: none;">TV <i class="fa fa-angle-up" aria-hidden="true"></i></a>
                    <ul class="dropdown dropdown_left" id="sb_sport_tv_dropdown">
                      <li>
                        <a href="#">TV Guide</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                </div>
              </li>
              <li>
                <a href="#">Score Centre</a>
              </li>
              <li>
                <a href="#">Games</a>
              </li>
              <li>
                <a href="#" id="btn_sb_more_dropdown">More <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- TOP NAV BAR -->
          <ul class="clearfix nav-bar">
            <li>
              <a href="#" id="active" style="padding-left: 0px;">
                <div class="padding-16">Home</div>
              </a>
            </li>
            <li>
              <a href="#" id="btn_sports_menu">
                <div class="padding-16">Sports
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
              </a>
              <ul class="dropdown dropdown_left" id="sports_menu">
                <li>
                  <a href="#">Sport News</a>
                </li>
                <li>
                  <a href="#" id="btn_sports_video_menu">Videos
                    <i class="fa fa-angle-right medium" aria-hidden="true" style="padding-left: 5px;"></i>
                  </a>
                  <ul class="dropdown dropdown_sub" id="sports_video_menu"style ="display: block;">
                    <li>
                      <a href="#">
                        Sport Videos
                      </a>
                    </li>
                    <li>
                      <a>
                        Games
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">TV</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="padding-16">
                Score Center
              </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="padding-16">Games</div>
              </a>
            </li>
            <li style="margin-left: 20px;">
              <a href="#" class="red padding text-white round-medium">
                Watch Sky Sports
              </a>
            </li>
            <li style="float: right">
              <a href="#" id="btn_more_menu">
                <div class="padding-16" id="down">
                  More
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <div id="up" class="padding-16" style="display: none;">
                  More
                  <i class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
              </a>
              <ul class="dropdown dropdown_right" id="more_menu">
                <li>
                  <a href="#">Analysis</a>
                </li>
                <li>
                  <a href="#">Opinion</a>
                </li>
                <li>
                  <a href="#">Sky Views</a>
                </li>
                <li>
                  <a href="#">Videos</a>
                </li>
                <li>
                  <a href="#">Weather</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>

    <!-- BODY -->
    <div id="body" class="container-post padding-32">
    	<!-- POST -->
          	<!-- HEADER POST -->
      <div class="body-post">
        <h1 class="padding-16 xxlarge" style="line-height: 40px;">
          Jared Kushner: Trump's son-in-law directed Michael Flynn to contact Russia - report  </h1>
        <p class="text-grey medium">Jared Kushner named in reports as the "very senior" member of the Trump transition team who told Michael Flynn to contact Russia.</p>
        <div class="row text-grey small padding-16">
          <i class="fa fa-clock-o large" aria-hidden="true"></i>Saturday 2 December 2017 14:16, UK
          <a href="#" class="right tag">
            UNITED STATES
          </a>
          <a href="#" class="right tag">
            DONALD TRUMP
          </a>
        </div>
      </div>
            <!-- CONTENT POST -->
      <div class="white padding-16">
        <div class="pic clearfix">
           <img src="/images/post/pic1.jpg">
          <p class="des padding-16 text-grey ">According to US media reports, Donald Trump's son-in-law, Jared Kushner (R), advised Michael Flynn to reach out to officials from Russia</p>
        </div>

      		  <!--FEED BACK -->
        <div style="display: flex;" class="feedback-bar clearfix padding-16">
          <div class="feedback-icon">
            <a id="facebook" href="#" style="padding-left:4.5px;">
              <i class="fa fa-facebook icon" aria-hidden="true"></i>
            </a>
          </div>
          <div class="feedback-icon">
            <a id="twitter" href="#">
              <i class="fa fa-twitter icon" aria-hidden="true"></i>
            </a>
          </div>
          <div class="feedback-icon">
            <a id="youtube" href="#">
              <i class="fa fa-youtube-play icon" aria-hidden="true"></i>
            </a>
          </div>
          <div class="feedback-icon">
            <a id="instagram" href="#">
              <i class="fa fa-instagram icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <!-- BODY POST -->
        <div class="body-post padding-16">
          <p class="bold">
        The criminal investigation into alleged links between the Trump presidential election campaign and Russia appears to have moved deeper into the White House.
          </p>
          <p>
            Donald Trump's son-in-law and senior aide Jared Kushner has been named in US media as the "very senior" member of the President's transition team who directed former national security adviser Michael Flynn to reach out to Russia.
          </p>
          <p>
            This was in an attempt to delay or defeat a UN resolution on Israeli settlements before Mr Trump took office, according to reports.
The allegation comes as Mr Flynn pleaded guilty to lying to the FBI over his conversations last December with the Russian ambassador to the US, Sergey Kislyak.
As part of the plea agreement, retired three-star general Mr Flynn has agreed to co-operate with an investigation led by special counsel Robert Mueller.
          </p>
        </div>
        <div class="pic">
          <img src="/images/post/pic2.jpg">
          <div class="des padding-16">
            Mr Flynn has said members of the president's inner circle were intimately involved with - and at times directing - his contacts
          </div>
        </div>
      </div>
          <!-- GALLERY POSTS --->
      <div class="container-post body-post padding-16 clearfix">
        <div class="linebreak">
          <h2>More from Sky</h2>
          <div>
            <a class="gallery half col">
              <div class="img-container">
                <img src="/images/post/gallery_new1.jpg">
                <div class="category">
                  <img src="/images/skysports_tag.png">
                </div>
              </div>
              <div class="des">Saqib Mahmood becomes first Lancashire player to take successive List A...</div>
            </a>
            <a class="gallery half col">
              <div class="img-container">
                <img src="/images/post/gallery_new2.jpg">
                <div class="category">
                  <img src="/images/skynews_tag.png">
                </div>
              </div>
              <div class="des">Game Of Thrones review: The heroes of The Battle Of Winterfell</div>
            </a>
          </div>
        </div>
      </div>
      <div class="container-post body-post padding-16 clearfix">
        <div class="linebreak">
          <h2>More from Sky</h2>
          <div>
            <a class="gallery half col">
              <div class="img-container">
                <img src="/images/post/gallery_new1.jpg">
                <div class="category">
                  <img src="/images/skysports_tag.png">
                </div>
              </div>
              <div class="des">Saqib Mahmood becomes first Lancashire player to take successive List A...</div>
            </a>
            <a class="gallery half col">
              <div class="img-container">
                <img src="/images/post/gallery_new2.jpg">
                <div class="category">
                  <img src="/images/skynews_tag.png">
                </div>
              </div>
              <div class="des">Game Of Thrones review: The heroes of The Battle Of Winterfell</div>
            </a>
          </div>
        </div>
      </div>

    </div>
    <!-- FOOTER -->
    <div id="footer" class="white text-grey">
      <!--FOLLOW -->
      <div id="follow" class="row content padding-32 clearfix  medium line">
        <ul class="clearfix">
          <li>
            <a id="facebook" href="#">
              <i class="fa fa-facebook icon"
                 aria-hidden="true"></i>
                 <span>Facebook</span>
            </a>
          </li>
          <li>
            <a id="twitter" href="#">
              <i class="fa fa-twitter icon"
                 aria-hidden="true"></i>
                 <span>Twitter</span>
            </a>
          </li>
          <li>
            <a id="youtube" href="#">
              <i class="fa fa-youtube-play icon"
                 aria-hidden="true"></i>
                 <span>Youtube</span>
            </a>
          </li>
          <li>
            <a id="instagram" href="#">
              <i class="fa fa-instagram icon"
                 aria-hidden="true"></i>
                 <span>Instagram</span>
            </a>
          </li>
        </ul>
      </div>

      <!--ABOUT-->
      <div id="about" class="row content clearfix text-grey white line padding-32">
        <div class="col fourth">
          <h2>About Sky News</h2>
          <ul class="medium">
            <li class="">
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Sky Data</a>
            </li>
            <li>
              <a href="#">Sky News International</a>
            </li>
            <li>
              <a href="#">Sky News Library Sales</a>
            </li>
            <li>
              <a href="#">Site Map</a>
            </li>
            <li>
              <a href="#">Editorial Guidelines</a>
            </li>
            <li>
              <a href="#">Supreme Court Live</a>
            </li>
            <li>
              <a href="#">Sky News Board</a>
            </li>
          </ul>
        </div>
        <div class="col fourth">
          <h2>Sky News Services</h2>
          <ul class="medium">
            <li class="">
              <a href="#"> Sky News RSS</a>
            </li>
            <li>
              <a href="#">Sky News For Your Phone</a>
            </li>
            <li>
              <a href="#">Sky News Radio</a>
            </li>
          </ul>
        </div>
        <div class="col fourth">
          <h2>Sky Channels</h2>
          <ul class="medium">
            <li class="">
              <a href="#">Sky 1</a>
            </li>
            <li>
              <a href="#">Sky Data</a>
            </li>
            <li>
              <a href="#">Sky Witness</a>
            </li>
            <li>
              <a href="#">Sky Atlantic</a>
            </li>
            <li>
              <a href="#">Sky Arts</a>
            </li>
            <li>
              <a href="#">Sky Cinema</a>
            </li>
            <li>
              <a href="#">Sky Sports</a>
            </li>
          </ul>
        </div>
        <div class="col fourth">
          <h2>More Sky Sites</h2>
          <ul class="medium">
            <li class="">
              <a href="#">NOW TV</a>
            </li>
            <li>
              <a href="#">Sky Ocean Rescue</a>
            </li>
            <li>
              <a href="#">Sky Academy Studios</a>
            </li>
            <li>
              <a href="#">Bigger Picture</a>
            </li>
            <li>
              <a href="#">Sky Corporate</a>
            </li>
            <li>
              <a href="#">Sky Bet</a>
            </li>
            <li>
              <a href="#">Sky.com</a>
            </li>
            <li>
              <a href="#">Sky News Arabia</a>
            </li>
            <li>
              <a href="#">Advertise With Us</a>
            </li>
          </ul>
        </div>
      </div>

      <!--Legal and Contact-->
      <div id="contact" class="row content clearfix">
        <ul>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy & Cookies</a>
          </li>
          <li>
            <a href="#">Privacy Options</a>
          </li>
          <li>
            <a href="#">Accessibility</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
        <div class="padding-16">
          <a href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Sky_Italia_-_Logo_2018.svg/1280px-Sky_Italia_-_Logo_2018.svg.png" style="width:70px; vertical-align:-15px;">
          </a>
          <span class="medium">© 2019 Sky UK</span>
        </div>


      </div>
    </div>

  </body>
  <script type="text/javascript">

    $('#btn_more_menu').on('click',function(){
      $('#more_menu').css({'display':'block'})
    })
    $('#btn_more_menu').focusout(function(){
      $('#more_menu').css({'display':'none'})
    });

    $('#btn_sports_menu').focusout(function(){
      $('#sports_menu').css({'display':'none'})
    })
    $('#search_box').on('click',function(){
      $(this).css({'background':'white'})
      $(this).find('i') .css({'color':'black'})
    })
    $('#btn_sports_menu').on('click',function(){
      $('#sports_menu').css({'display':'block'})
    })
    $('#search_box').focusout(function(){
      $(this).css({'background':'transparent'})
      $(this).find('i').css({'color':'white'})
    })

    /* --- SIDE BAR BUTTON -- */
    $('#btn_side_bar').on('click',function(){
      if($('#sb').css('display')=='none')
      {
        $('#sb').css({'display':'block'})
      }
      else {
        $('#sb').css({'display':'none'})
      }
    })

    $('#btn_sb_sport_dropdown').on('click',function(){
      $('#sb_sport_dropdown').css({'display':'block'})
      $('#sb_sport_tv_dropdown').css({'display':'none'})
      $('#btn_close_sb_sport_dropdown').css({'display':'block'})
      $('#btn_sb_sport_dropdown').css({'display':'none'})
    });

    $('#btn_close_sb_sport_dropdown').on('click',function(){
      $('#sb_sport_dropdown').css({'display':'none'})
      $('#btn_sb_sport_dropdown').css({'display':'block'})
      $(this).css({'display':'none'})
    });

    $('#btn_sb_sport_tv_dropdown').on('click',function(){
      $('#sb_sport_tv_dropdown').css({'display':'block'})
      $('#btn_close_sb_sport_tv_dropdown').css({'display':'block'})
      $('#btn_sb_sport_tv_dropdown').css({'display':'none'})
    });
    $('#btn_close_sb_sport_tv_dropdown').on('click',function(){
      $('#sb_sport_tv_dropdown').css({'display':'none'})
      $('#btn_sb_sport_tv_dropdown').css({'display':'block'})
      $(this).css({'display':'none'})
    });

  </script>
</html>


