<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Post News</title>
      <link rel="stylesheet" href="../public/stylesheet/post_new_style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body>
  <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  </head>
  <body>

    <!--Top Bar -->
    <div id="topbar" class="display-flex top-fixed small text-grey"
         style="align-content:center;
         background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), transparent 76%), linear-gradient(90deg, rgb(18, 45, 104), rgb(18, 45, 104) 10%, rgb(214, 23, 38) 0px, rgb(214, 23, 38)) !important;">
      <a href="#" style="width: 25%;">
      	<img style="margin-left: 3.5px; margin-top:10px;" src="../public/images/home/logo.png"/>
      </a>
      <a href="#home" class="button text-white " style="width:25%;
      background: rgb(214, 23, 38) ">
        HOME
      </a>
      <a href="#about" class="button text-white " style="width:25%">
        ABOUT
      </a>
      <a href="#photos" class="button text-white" style="width:25%">
        HISTORY
      </a>

    </div>

    <!--Side Bar -->
    <div id="sidebar" class="left-fixed side-bar text-white small"         style="width:110px;">
      <img class="bar-item clearfix display-block"
           src="../public/images/skysports_logo.png" style="height: 75px;">
      <a class="clearfix bar-item padding-large  padding-large button bar-icon">
        <div style="font-size: 30px;">
        	<i class="fa fa-home" aria-hidden="true"></i>
        </div>
        HOME
      </a>
      <a class="clearfix bar-item padding-large button bar-icon">
        <div style="font-size: 30px;">
        	<i class="fa fa-user" aria-hidden="true"></i>
        </div>
        ABOUT
      </a>
      <a class="clearfix bar-item padding-large button bar-icon">
      	<div style="font-size: 30px;">
      		<i class="fa fa-history" aria-hidden="true"></i>
      	</div>
        HISTORY
      </a>
    </div>

    <!-- PAGE CONTENT -->
    <div id="page-content" >
      <div style="height:100%;width:95%;max-width:800px;margin:auto;">

        <!--Poster -->
        <div id="home" class="container" style="margin-top:32px;">
          <h1 class="xxlarge show line margin-32 clearfix">Post News</h1>
          <div style="width: 90%;">
            <form class="padding-32">
            <table style="width: 100%">
              <tbody>
                <tr>
                  <th style="float:left;">
                    Category
                  </th>
                  <td>
                    <select class="round">
                      <option>Sport News</option>
                      <option>TV</option>
                      <option>Videos</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th style="float:left;">
                    Title
                  </th>
                  <td>
                    <input class="round" type="text" name="">
                  </td>
                </tr>
                <tr>
                  <th style="vertical-align:top; float:left; ">
                    Content
                  </th>
                  <td>
                    <textarea class="round" style="width: 100%;" rows="6"></textarea>
                  </td>
                </tr>
                <tr>
                  <th style="float: left;">
                    Image
                  </th>
                  <td >
                    <input class="round" type="file" name="" style="width: 50% padding: 8px;">
                  </td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td colspan="2" style="float:right; background-color: black;
                  ">
                    <button  type="submit" style="background: #eee !important;" class="button">Submit</button>
                  </td>
                </tr>
              </tbody>
            </table>
            </form>
          </div>
        </div>
    </div>
    <div id="footer" class="row white text-grey clearfix" style="margin-top: 1rem; margin-left: 0px; margin-right: 0px;">
        <!--Follow -->
        <div id="follow" class="row content padding-32 clearfix  medium line">
          <ul class="clearfix">
            <li>
              <a id="facebook" href="#">
                <i class="fa fa-facebook icon"
                   aria-hidden="true"></i>
                   <span>Facebook</span>
              </a>
            </li>
            <li>
              <a id="twitter" href="#">
                <i class="fa fa-twitter icon"
                   aria-hidden="true"></i>
                   <span>Twitter</span>
              </a>
            </li>
            <li>
              <a id="youtube" href="#">
                <i class="fa fa-youtube-play icon"
                   aria-hidden="true"></i>
                   <span>Youtube</span>
              </a>
            </li>
            <li>
              <a id="instagram" href="#">
                <i class="fa fa-instagram icon"
                   aria-hidden="true"></i>
                   <span>Instagram</span>
              </a>
            </li>
          </ul>
        </div>
        <!--About-->
        <div id="about" class="content row clearfix text-grey white line padding-32">
          <div class="col fourth">
            <h2>About Sky News</h2>
            <ul class="medium">
              <li class="">
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Sky Data</a>
              </li>
              <li>
                <a href="#">Sky News International</a>
              </li>
              <li>
                <a href="#">Sky News Library Sales</a>
              </li>
              <li>
                <a href="#">Site Map</a>
              </li>
              <li>
                <a href="#">Editorial Guidelines</a>
              </li>
              <li>
                <a href="#">Supreme Court Live</a>
              </li>
              <li>
                <a href="#">Sky News Board</a>
              </li>
            </ul>
          </div>
          <div class="col fourth">
            <h2>Sky News Services</h2>
            <ul class="medium">
              <li class="">
                <a href="#"> Sky News RSS</a>
              </li>
              <li>
                <a href="#">Sky News For Your Phone</a>
              </li>
              <li>
                <a href="#">Sky News Radio</a>
              </li>
            </ul>
          </div>
          <div class="col fourth">
            <h2>Sky Channels</h2>
            <ul class="medium">
              <li class="">
                <a href="#">Sky 1</a>
              </li>
              <li>
                <a href="#">Sky Data</a>
              </li>
              <li>
                <a href="#">Sky Witness</a>
              </li>
              <li>
                <a href="#">Sky Atlantic</a>
              </li>
              <li>
                <a href="#">Sky Arts</a>
              </li>
              <li>
                <a href="#">Sky Cinema</a>
              </li>
              <li>
                <a href="#">Sky Sports</a>
              </li>
            </ul>
          </div>
          <div class="col fourth">
            <h2>More Sky Sites</h2>
            <ul class="medium">
              <li class="">
                <a href="#">NOW TV</a>
              </li>
              <li>
                <a href="#">Sky Ocean Rescue</a>
              </li>
              <li>
                <a href="#">Sky Academy Studios</a>
              </li>
              <li>
                <a href="#">Bigger Picture</a>
              </li>
              <li>
                <a href="#">Sky Corporate</a>
              </li>
              <li>
                <a href="#">Sky Bet</a>
              </li>
              <li>
                <a href="#">Sky.com</a>
              </li>
              <li>
                <a href="#">Sky News Arabia</a>
              </li>
              <li>
                <a href="#">Advertise With Us</a>
              </li>
            </ul>
          </div>
        </div>

        <!--Legal and Contact-->
        <div id="contact" class="row content clearfix">
          <ul>
            <li>
              <a href="#">Terms & Conditions</a>
            </li>
            <li>
              <a href="#">Privacy & Cookies</a>
            </li>
            <li>
              <a href="#">Privacy Options</a>
            </li>
            <li>
              <a href="#">Accessibility</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
          <div class="padding-16">
            <a href="#">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Sky_Italia_-_Logo_2018.svg/1280px-Sky_Italia_-_Logo_2018.svg.png" style="width:70px; vertical-align:-15px;">
            </a>
            <span class="medium">© 2019 Sky UK</span>
          </div>
        </div>
      </div>

	</div>


</body>

</html>



</body>

</html>
