<div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i
            class="fa fa-address-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Hồ sơ cá nhân</h2>
    <div class="w3-container">
        <h5><b class="w3-opacity"> Thông tin tài khoản</b></h5>
        <h6 class=""><i class="fa fa-user fa-fw w3-margin-right w3-text-teal"></i>
            {{authUser.fullname}}
        </h6>
        <h6 class=""><i class="fa  fa-briefcase fa-fw w3-margin-right w3-text-teal"></i>
            {{#switch authUser.role}}
            {{#case "viewer" break=true}}Đọc giả{{/case}}
            {{#case "writer" break=true}}Phóng viên{{/case}}
            {{#case "editor" break=true}}Biên tập viên{{/case}}
            {{#default}}Quản trị viên{{/default}}
            {{/switch}}
        </h6>
        <h6 class=""><i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal"></i>
            10-5-2019 - <span class="w3-tag w3-teal w3-round">Current</span>
        </h6>
        <h6 class=""><i class="fa  fa-birthday-cake fa-fw w3-margin-right w3-text-teal"></i>
            {{parsedate authUser.dateofbirth}}
        </h6>
        <hr>
    </div>
    <div class="w3-container">
        <h5 class="w3-opacity"><b>Công việc</b></h5>
        {{#compare authUser.role  "writer"}}
        <p class="w3-medium"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Mức độ hoàn thành</b>
        </p>
        <p>Số bài viết trong tuần: 3</p>
        <div class="w3-light-grey w3-round-xlarge w3-small mb-3">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">75%</div>
        </div>
        <p>Tổng số bài viết được duyệt: 40</p>
        <div class="w3-light-grey w3-round-xlarge w3-small mb-3">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                <div class="w3-center w3-text-white">80%</div>
            </div>
        </div>
        <p>Tổng số bài viết:</p>
        <div class="w3-light-grey w3-round-xlarge w3-small mb-3">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">50 bài viết</div>
        </div>
        {{/compare}}
    </div>
</div>