<div class="card">
    <div class="card-header">
        <h5>Thông tin các nhân</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tên tài khoản</th>
                    <th scope="col">Tên đăng nhập</th>
                    <th scope="col">Mật khẩu</th>
                    <th scope="col">Địa chỉ email</th>
                    <th scope="col">Số bài đăng</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lê Đình Ngọc</td>
                    <td>dinhngoc</td>
                    <td>dinhngoc123</td>
                    <td>skyonhand_ckj@outlook.com</td>
                    <td>
                        <div style="background:orangered; border-radius:50%; width:20px; height:20px;" class="text-center text-white">
                            3
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>