<!-- PAGE CONTENT -->
<style>
  body {
    z-index: 0;
  }

  .twitter-typeahead .tt-query,
  .twitter-typeahead .tt-hint {
    margin-bottom: 0;
  }

  .tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: black;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

  }

  .tt-menu {
    /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 320px;
    margin-top: 0px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }

  .tt-suggestion.tt-cursor {
    /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

  }

  .tt-suggestion {
    display: block;
    padding: 3px 20px;
  }

  .tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
  }

  .tt-suggestion.tt-is-under-cursor a {
    color: #fff;
  }

  .tt-suggestion p {
    margin: 0;
  }
</style>
<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i
      class="fa fa-cloud-upload fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Đăng bài viết</h2>
  <div class="w3-container">
    <table style="width: 100%">
      <tbody>
        <tr>
          <th style="float:left;">
            <h6><b> Loại bài viết</b></h6>
          </th>
          <td>
            <select class="form-control" id="ispremium">
              <option value="false">Normal</option>
              <option value="true">Premium</option>
            </select>
          </td>
        </tr>
        <tr>
          <th style="float:left;">
            <h6><b> Danh mục</b></h6>
          </th>
          <td>
            <select class="form-control" id="categories"></select>
          </td>
        </tr>
        <tr>
          <th style="float:left;">
            <h6><b> Tiêu đề</b></h6>
          </th>
          <td>
            <input id="title" class="form-control" type="text" name="">
            <div class="text-danger small" id="valid_title" style="display: none">Không được để trống mục này</div>
          </td>
        </tr>
        <tr>
          <th style="float:left" style="vertical-align: top;">
            <h6><b> Dán nhãn</b></h6>
          </th>
          <td id="the-basics">
            <div style="float: left;">
              <input id="input_tag" class="typeahead form-control" type="text" style="width:250px;"
                placeholder="Tag...">
              <button id="btn_opendrop" class="btn btn-light btn-outline-dark btn-sm" type="button">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </button>
              <button id="btn_closedrop" class="btn btn-light btn-outline-dark btn-sm" type="button"
                style="display:none;">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
              </button>
              <br />
              <span id="valid_tag" class="text-danger" style="display: none">Tag không có trong dữ liệu!</span>
              <select id="list_tag" style="display:none;" class="form-control"></select>
            </div>
            <div style="float:left;" class="ml-5 mt-1">
              <button id="add_tag" class="btn btn-light btn-outline-dark btn-sm" type="button">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
              </button>
              <button id="remove_tag" class="btn btn-light btn-outline-dark btn-sm" type="button">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
              </button>
            </div>
            <div style="float:left;" class="ml-5">
              <select id="tag" class="form-control" size="1" style="width: 250px;"></select>
            </div>
          </td>
        </tr>
        <tr>
          <th style="float:left">
            <h6><b> Tóm tắt</b></h6>
          </th>
          <td>
            <input id="summary" class="form-control" type="text" name="">
          </td>
        </tr>
        <tr>
          <th style="vertical-align:top; float:left; ">
            <h6><b> Nội dung</b></h6>
          </th>
          <td>
            <textarea id="ckeditor" name="content" class="form-control" style="width: 100%;"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-3 mb-3">
      <button id="submit" type="button" class="btn w3-teal">Submit</button>
    </div>
  </div>
</div>


<script src="/typeahead.js"></script>
<script type="text/javascript">
  CKEDITOR.replace('ckeditor', {
    "extraPlugins": 'imagebrowser',
    "imageBrowser_listUrl": "/files"
  });
</script>

<script type="text/javascript">
  $('#homelink').removeClass('w3-blue');
  $('#postlink').addClass('w3-blue');
  var tags = [];
  $(document).ready(function () {
    // Fill Categories
    $.ajax({
      type: 'GET',
      url: '/writer/getCat',
      contentType: 'application/json',
      dataType: 'json',
      success: function (res, textStatus, xhr) {
        if (xhr.status == 200) {
          for (i = 0; i < res.length; i++) {
            $('#categories').append($('<option>')
              .val(res[i]._id)
              .text(res[i].name))
          }
        }
      }
    });

    $.ajax({
      type: 'GET',
      url: '/writer/getTag',
      contentType: 'application/json',
      dataType: 'json',
      success: function (res, textStatus, xhr) {
        if (xhr.status == 200) {
          var select = $('#list_tag');
          select.append($('<option>')
            .val(-1)
            .text(""));
          for (i = 0; i < res.length; i++) {
            $('#list_tag').append($('<option>')
              .val(res[i]._id)
              .text(res[i].name));

            tags.push(res[i].name);
          }
        }
      }
    })

    $('#submit').on('click', function () {
      if ($('#title').val() == '') {
        $('#valid_title').css({ 'display': 'block' })
      }
      else {
        var tag = [];

        $('#tag option').each(function () {
          var name = $(this).text();
          tag.push(name);
        })
        var date = new Date();

        var data = {
          "categoryid": $('#categories').val(),
          "title": $('#title').val(),
          "summary": $('#summary').val(),
          "tag": tag,
          "content": CKEDITOR.instances.ckeditor.getData(),
          "createdate": date,
          "ispremium" : $('#ispremium').val(),
        }

        $.ajax({
          type: 'POST',
          url: '/writer/upload',
          data: JSON.stringify(data),
          contentType: 'application/json',
          dataType: 'json',
          success: function (res, textStatus, xhr) {
            setTimeout(function () {
              $(location).attr('href', `/writer/review/${res._id}`);
            }, 8000);
          }
        })
      }

    })

    $("#btn_opendrop").on("click", function () {
      $('#btn_closedrop').css({ 'display': 'inline-block' });
      $('#btn_opendrop').css({ 'display': 'none' });
      var se = $("#list_tag");
      se.show();
      se[0].size = 4;
    });
    $("#btn_closedrop").on("click", function () {
      $('#btn_opendrop').css({ 'display': 'inline-block' });
      $('#btn_closedrop').css({ 'display': 'none' });
      var se = $("#list_tag");
      se.hide();
    });
    $('#list_tag').on('change', function () {
      $('#input_tag').val($('#list_tag option:selected').text());
    })

    $('#add_tag').on('click', function () {
      var check = false;
      $('#list_tag > option').each(function () {
        if ($(this).text() == $('#input_tag').val()) {
          check = true;
        }
      })

      if (check == false) {
        $('#valid_tag').css({ 'display': 'block' })
        return;
      }
      else {
        $('#valid_tag').css({ 'display': 'none' })
      }

      /*var option = $('#list_tag option').filter(function () {
        return $(this).text() == $('#input_tag').val();
      })*/

      if ($('#tag option').length == 0) {
        $('#list_tag > option').each(function () {
          if ($(this).text() == $('#input_tag').val()) {
            $('#tag').append($('<option>')
              .text($(this).text())
              .val($(this).val()));
            return;
          }
        })
      }

      var flag = true;
      $('#tag option').each(function () {
        if ($('#input_tag').val() == $(this).text()) {
          flag = false;
          return;
        }
      })

      if (flag == true && check == true) {
        $('#list_tag > option').each(function () {
          if ($(this).text() == $('#input_tag').val()) {
            $('#tag').append($('<option>')
              .text($(this).text())
              .val($(this).val()))
          }
        })
      }
    })

    $('#remove_tag').on('click', function () {
      $("#tag option:selected").remove();

    })
  })
</script>
<script type="text/javascript">
  $(document).ready(function () {
    var substringMatcher = function (strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function (i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
      };
    };

    console.log(tags);
    $('#the-basics .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1,
    },
      {
        name: 'states',
        source: substringMatcher(tags)
      });
  })
</script>